<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coocaa.remoteplatform.core">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-sdk tools:overrideLibrary="com.coocaa.pushlib,com.coocaa.toolkit" />
    <application android:usesCleartextTraffic="true">
        <service
            android:name=".connection.push.PushReceiveService"
            android:exported="true">
            <meta-data
                android:name="CC_PUSH_APP_ID"
                android:value="vq5jOXoD" />
            <meta-data
                android:name="CC_PUSH_APP_TOKEN"
                android:value="2EsmBbDO" />

            <intent-filter>
                <action android:name="com.coocaa.push.PUSH" />
            </intent-filter>
        </service>

        <service
            android:name=".service.RemotePlatformService"
            android:exported="true"
            android:priority="1000">
            <intent-filter>
                <action android:name="coocaa.intent.action.remote.platform.service" />
            </intent-filter>
        </service>
        <service
            android:name=".reply.ReplyService"
            android:exported="true">
            <intent-filter>
                <action android:name="coocaa.intent.action.remote.platform.reply" />
            </intent-filter>
        </service>

        <receiver android:name=".service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>