<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coocaa.remoteplatform"
    android:sharedUserId="${SYSTEM_UID}">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true">
        <activity android:name=".TestActivity" />

        <meta-data
            android:name="SOCKET_ADDRESS"
            android:value="${SOCKET_ADDRESS}" />
        <meta-data
            android:name="HTTP_ADDRESS"
            android:value="${HTTP_ADDRESS}" />
        <meta-data
            android:name="FILE_ADDRESS"
            android:value="${FILE_ADDRESS}" />
        <meta-data
            android:name="PUSH_ADDRESS"
            android:value="${PUSH_ADDRESS}" />
        <meta-data
            android:name="PUSH_PORT"
            android:value="${PUSH_PORT}" />
        <meta-data
            android:name="REQUEST_ADDRESS"
            android:value="${REQUEST_ADDRESS}" />
        <meta-data
            android:name="SOCKET_SALT"
            android:value="${SOCKET_SALT}" />
    </application>

</manifest>