<manifest package="com.dunn.instrument.tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <application>
        <meta-data
            android:name="com.dunn.instrument.tools.get"
            android:value="true" />
    </application>

</manifest>
