<manifest package="com.dunn.tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <meta-data
            android:name="com.dunn.tools.get"
            android:value="true" />

        <receiver
            android:name="com.dunn.tools.time.temp.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
